.filterSidebar{
    background-color: #d6d6d6;
    padding: 20px;
}
.reporterCountry{
    max-height: 300px; 
    overflow-y: scroll;
}
.yearFilter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.yearFilter input{
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.filterBtn{
    margin-top: 15px !important;
    width: 100%;
}
.worldMapScreenContainer {
    height: 100vh;
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
}
.filterSidebarBtnWrapper{
    width: 100%;
    padding: 20px;
}
.mapContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoomBtnContainer{
    width: 100%; 
    padding: 5px 20px;
}