.countryTableSegment {
    background-color: #3d3d3d !important;
}

.headerCountryContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerCountryTitle {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.rowCountryContainer {
    display: flex;
    gap: 2%;
    align-items: center;
    margin-left: 45%;
}

.rowCountryTitle {
    font-size: 14px;
}