.memberContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.memberName {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}