.countryToolTipContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.75;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
}

.countryTooltipHeader {
    display: flex;
    gap: 3px;
    align-items: center;
}

.toolTipText {
    display: flex;
    gap: 5px;
    color: #767676;
}

.modalHeader {
    display: flex;
    gap: 5px;
}

.boldTitle {
    font-weight: bold;
}