.headerRow{
    height: 70vh;
}

.landingText {
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px #6682a9;
    line-height: 50px;
    padding: 3px;
}

.infoRow{
    height: 15vh;
}

.iconsContainer{
    display: flex !important;
    justify-content: center !important;
}

.iconsWrapper{
    width: 80%;
    height: 100%;
    display: flex;
}

.scrollRow{
    height: 10vh;
}

.scrollIcon {
    color: #6682a9;
    cursor: pointer;
    margin: 3px;
}