.filterSegmentWrapper {
    display: flex !important
}

.filterInfoRibbon {
    display: flex !important;
    align-items: center !important;
}

.filterSegmentInnerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.filterCheckboxContainer {
    display: flex;
    gap: 25px;
    align-items: center;
}

.filterField {
    margin: 0 !important;
    font-size: 25px !important;
}

.filterCheckbox>label {
    font-size: 18px !important;
    font-weight: bold !important;
}

.interactionVisContainer {
    padding: 20px;
}