.countriesContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.gridCardContainer {
    display: flex;
    justify-content: center;
}

.countryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.countryFlag>img {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
}

.countryFlag>img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.countryCard>span {
    font-size: 16px;
    font-weight: bold;
}

.searchInput {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #c7c7c7;
}

.searchInput:focus {
    border: 3px solid green !important;
}